.bg {
  background: url('https://miro.medium.com/max/1400/1*mNkpp2hcSORUtl_HKilARw.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 2000px;
  height: 1000px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  opacity: 0.35;
}

h5{
  color : black;
}