

  <div class="bg"></div>

<div class="container">
    <h1 class="text-center text-body ">TOP Populares</h1>
    <div id="carouselPopulares" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselPopulares"  *ngFor="let peli of peliculasTrend;let index = index" [attr.data-slide-to]="index"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let peli of peliculasTrend;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
            <a [routerLink]="['/detalle', peli.id, 'movie']"><img [src]="peliApi.getImagen(peli.poster_path)"  class="d-block w-25" [alt]="peli.title"></a>
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselPopulares" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselPopulares" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-body">Las mejores películas</h1>
    <div id="carouselMejores" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselMejores"  *ngFor="let peli of peliculasMejores;let index = index" [attr.data-slide-to]="index"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let peli of peliculasMejores;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
            <a [routerLink]="['/detalle', peli.id, 'movie']"><img [src]="peliApi.getImagen(peli.poster_path)"  class="d-block w-25" [alt]="peli.title" ></a>
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselMejores" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselMejores" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-body">Las próximas</h1>
    <div id="carouselSiguientes" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselSiguientes"  *ngFor="let peli of peliculasSiguientes;let index = index" [attr.data-slide-to]="index"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let peli of peliculasSiguientes;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
            <a [routerLink]="['/detalle', peli.id, 'movie']"><img [src]="peliApi.getImagen(peli.poster_path)"  class="d-block w-25" [alt]="peli.title"></a>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselSiguientes" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSiguientes" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>


