.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 100%;
  border: 2px solid black;
  background-image: none;
}

.bg {
  background: url('https://miro.medium.com/max/1400/1*mNkpp2hcSORUtl_HKilARw.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 2000px;
  height: 1000px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  opacity: 0.35;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}

.carousel-indicators li {
    background-color: rgb(8, 8, 8);
    background-color: rgba(104, 104, 104, 0.25);
  }
  
  .carousel-indicators .active {
    background-color: rgb(8, 8, 8);
  }

option {
    font-size: 12px;
}

img { margin: auto;}