<!-- Template de peliculas -->

<ng-template [ngIf]="type == 'movie'">
    <div class="container">
        <h1>{{dummy.title}}</h1>
        <div class="row">
            <div class="col-xl-3">
                <!-- hay que centrar la imagen -->
                <img [src]="peliApi.getImagenGrande(dummy.poster_path)"  class="img-fluid " [alt]="dummy.title">
            </div>
            <div class="col-xl-9">
                <!-- hay que sacar el warning -->
                <h2 class="text-black-50">{{dummy.overview}}</h2>
                <ng-template [ngIf]="dummy.original_language == 'en'">
                    <h3 class="strong">Lenguaje original: Inglés</h3>
                </ng-template>
                
                <h3>Fecha de lanzamiento: {{dummy.release_date}}</h3>
                <h3>Cantidad de reproducciones: {{dummy.popularity}}</h3>
                <h3>Ganancias: US$ {{dummy.revenue}}</h3>

                <ng-template [ngIf]="dummy.vote_average > '8.0'">
                <h3><h3>Puntaje <span class="badge badge-success">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>            
                <ng-template [ngIf]="dummy.vote_average <= '8.0' && dummy.vote_average > '4.0' ">
                    <h3><h3>Puntaje <span class="badge badge-primary">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>
                <ng-template [ngIf]="dummy.vote_average <= '4.0'">
                <h3><h3>Puntaje <span class="badge badge-danger">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>
                
                <h3><h3>Cantidad de votos <span class="badge badge-dark">{{dummy.vote_count}}</span></h3></h3>
            </div>
        </div>
    </div>
</ng-template>

<!-- Template de series -->
<ng-template [ngIf]="type == 'tv'">
    <div class="container">
        <h1>{{dummy.title}}</h1>
        <div class="row">
            <div class="col-xl-3">
                <!-- hay que centrar la imagen -->
                <img [src]="peliApi.getImagenGrande(dummy.poster_path)"  class="img-fluid " [alt]="dummy.title">
            </div>
            <div class="col-xl-9">
                <!-- hay que sacar el warning -->
                <h2 class="text-black-50">{{dummy.overview}}</h2>
                <ng-template [ngIf]="dummy.original_language == 'en'">
                    <h3 class="strong">Lenguaje original: Inglés</h3>
                </ng-template>
                <h3>Cantidad de reproducciones: {{dummy.popularity}}</h3>
                <h3>Temporadas: {{dummy.number_of_seasons}}</h3>
                <h3>Episodios: {{dummy.number_of_episodes}}</h3>
    
                <ng-template [ngIf]="dummy.vote_average > '8.0'">
                <h3><h3>Puntaje <span class="badge badge-success">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>            
                <ng-template [ngIf]="dummy.vote_average <= '8.0' && dummy.vote_average > '4.0' ">
                    <h3><h3>Puntaje <span class="badge badge-primary">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>
                <ng-template [ngIf]="dummy.vote_average <= '4.0'">
                <h3><h3>Puntaje <span class="badge badge-danger">{{dummy.vote_average}}</span></h3></h3>
                </ng-template>
                
                <h3><h3>Cantidad de votos <span class="badge badge-dark">{{dummy.vote_count}}</span></h3></h3>
            </div>
        </div>
    </div>
</ng-template>

<!-- Template de actores -->

<ng-template [ngIf]="type == 'person'">
    <div class="container">
        <h1>{{dummy.name}}</h1>
        <img [src]="peliApi.getImagenGrande(dummy.profile_path)"  class="img-fluid" [alt]="dummy.name">
        <h3>Fecha de nacimiento: {{dummy.birthday}}</h3>
        <h3>Nació en: {{dummy.place_of_birth}}</h3>
        <h3>Breve biografía: </h3>
        <p>{{dummy.biography}}</p>
    </div>
</ng-template>



