<div class="bg"></div>
<h1 align="center">Las series mas populares</h1>
<br><br/>
<div align="center" class="container" *ngFor="let series of seriesPopulares">
     <a [routerLink]="['/detalle', series.id, 'tv']"><img [src]="peliApi.getImagen(series.poster_path)"  class="d-block w-25" [alt]="series.name">
          <h5 align= "center">{{series.name}} </h5> 
          <br><br/>
      </a>
      
</div>