<div class="bg"></div>

<h1 align="center">Actores Populares</h1>
<br><br/>
<div class="container" align= "center" *ngFor="let personas of personasPopulares">
     <a [routerLink]="['/detalle', personas.id, 'person']"><img [src]="peliApi.getImagen(personas.profile_path)"   class="d-block w-25" [alt]="personas.name">
          <h5 align= "center">{{personas.name}} </h5>
          <br><br/>
      </a>
      
</div>