<div class="bg"></div>

<h1 align="center">Resultados para: {{query}}</h1>
<div class="container" *ngFor="let res of resultado">
    <!-- template de peliculas -->
    <ng-template [ngIf]="res.media_type == 'movie'">
        <div class="row">
            <div class="col-6">
                <a [routerLink]="['/detalle', res.id, 'movie']"><img [src]="peliApi.getImagen(res.poster_path)"  class="d-block w-25" [alt]="res.title">
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['/detalle', res.id, 'movie']"><h1>{{res.title}} <span class="badge badge-secondary">Película</span></h1></a>
                <b><p>{{res.overview}}</p></b>
            </div>
        </div>
    </ng-template>

    <!-- template de series -->
    <ng-template [ngIf]="res.media_type == 'tv'">
        <div class="row">
            <div class="col-6">
                <a [routerLink]="['/detalle', res.id, 'movie']"><img [src]="peliApi.getImagen(res.poster_path)"  class="d-block w-25" [alt]="res.name">
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['/detalle', res.id, 'movie']"><h1 class="strong">{{res.name}} <span class="badge badge-danger">Serie</span></h1></a>
               <b><p>{{res.overview}}</p></b>
            </div>
        </div>
    </ng-template>
    
    <!-- template de actores -->
    <ng-template [ngIf]="res.media_type == 'person'">
        <div class="row">
            <div class="col-6">
                <a [routerLink]="['/detalle', res.id, res.media_type]"><img [src]="peliApi.getImagen(res.profile_path)"  class="d-block w-25" [alt]="res.name">
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['/detalle', res.id, res.media_type]"><h1 class="strong">{{res.name}} <span class="badge badge-dark">Actor</span></h1></a>
                <h3>Conocido por papeles en:</h3>
                <p *ngFor="let dummy of res.known_for">
                    <ng-template [ngIf]="dummy.media_type == 'tv'">
                        {{dummy.name}}
                    </ng-template>
                    <ng-template [ngIf]="dummy.media_type == 'movie'">
                        {{dummy.title}}
                    </ng-template>
                </p>
            </div>
        </div>
    </ng-template>
</div>