<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/inicio']" class="nav-link" href="#"><img src="assets/1.png" alt="uruflix" width="50" height="50"  style="width: 122px; height: 34px">&nbsp;</a>
            </li>
            

            <!--Peliculas-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Peliculas
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/populares']" class="dropdown-item" href="#">Populares</a>
                    <a [routerLink]="['/masValoradas']" class="dropdown-item" href="#">Las Mas Valoradas</a>
                    <a [routerLink]="['/proximamente']" class="dropdown-item" href="#">Proximamente</a>
                </div>
              </li>

               <!--Series-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Series
                </a>
               
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/seriespopular']" class="dropdown-item" href="#">Populares</a>
                    <a [routerLink]="['/envivo']" class="dropdown-item" href="#">En Vivo</a>
                   <!--<a [routerLink]="['/proximamente']" class="dropdown-item" href="#">Proximamente</a> -->
                </div>
              </li>

              <!--Personas-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Personas
                </a>
               
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/personaspopulares']" class="dropdown-item" href="#">Actores populares</a>
                   <!--<a [routerLink]="['/proximamente']" class="dropdown-item" href="#">Proximamente</a> -->
                </div>
              </li>

            <div [formGroup]="formBusqueda" (ngSubmit)="busqueda(formBusqueda)">

                            <input type="search" formControlName="consulta" />                             
                            <button class="btn btn-outline-danger my-2 my-sm-0 " type="submit " (click)="busqueda(formBusqueda)">Buscar</button>
                        
                        </div>                         
                   
                    
                     
        </ul>
        

        <div [formGroup]="formLogin" (ngSubmit)="IniciarSesion(formLogin.value)" class="form-inline my-2 my-lg-0" *ngIf="this.user.usuario==''">
            <table>
                <tr>
                    <td>
                        <input formControlName="usuario" class="form-control mr-sm-2" type="text" placeholder="Usuario" aria-label="Usuario">
                    </td>
                    <td>
                        <input formControlName="password" class="form-control  mr-sm-2" type="password" placeholder="Contraseña" aria-label="Contraseña">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger my-2 my-sm-0 " type="submit " (click)="IniciarSesion(formLogin)">Ingresar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="this.user.usuario!=''" style="color:white">
        <span>Bienvenido: {{ this.user.usuario }} </span>
    </div>
</nav>