<div class="bg"></div>

<h1 align="center">Las peliculas mas populares</h1>
<br><br/>
<div class="container" *ngFor="let pelis of peliculasPopulares">
     <a [routerLink]="['/detalle', pelis.id, 'movie']"><img [src]="peliApi.getImagen(pelis.poster_path)"  class="d-block w-25" [alt]="pelis.title">
          <h5 align= "center">{{pelis.title}} </h5>
          <br><br/>
      </a>
      
</div>